/* src/components/Detail/Detail.css */

/* 텍스트 스타일 컴포넌트 */
.st-text__title {
  font-size: var(--st-font-title);
  color: var(--st-text-main);
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 12px;
}

.st-text__subtitle {
  font-size: var(--st-font-body);
  color: var(--st-text-main);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 8px;
}

.st-text__body {
  font-size: var(--st-font-caption);
  color: var(--st-text-sub);
  line-height: 1.6;
  margin-bottom: 16px;
}

/* AI Badge 스타일 */
.st-ai-badge-group {
  background-color: var(--st-bg-gray);
  border-radius: var(--st-radius-medium);
  padding: 16px;
  margin: 24px 0 24px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.st-ai-badge-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.st-ai-badge-bullet {
    min-width: 5px;
    max-width: 5px;
    height: 5px;
    background-color: var(--st-text-muted);
    border-radius: 50%;
    margin-top: 9px;
}

.st-ai-badge-item .st-text__body {
  margin-bottom: 0 !important; /*margin 제거*/
}


