/* src/index.css */

/* 1. 모든 요소 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. 화면 전체 배경색 및 폰트 설정 */
body {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* 하단에서 올라오는 바텀시트 느낌을 위해 */
}

#root {
  width: 100%;
  max-width: 500px; /* 모바일 앱 가로 사이즈 느낌 */
}
